* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    -webkit-position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background-image: url(./textures/bgwall.jpg);
}

#loader {
    background: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#loader #img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#loader #img img {
    position: absolute;
    width: 150%;
    height: 110%;
    top: -5%;
    left: -25%;
}

.container,
canvas {
    position: absolute;
    -webkit-position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.players {
    position: absolute;
    -webkit-position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 450px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.player {
    position: relative;
    -webkit-position: relative;
    width: 110px;
    height: 100%;
    border: 1px solid white;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
}

.time {
    position: absolute;
    -webkit-position: absolute;
    bottom: 5px;
    width: 90%;
    height: 10px;
    border: 1px solid white;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    border-radius: 5px;
}

.line {
    width: 100%;
    height: 100%;
}

.red .line {
    background-color: red;
}

.blue .line {
    background-color: blue;
}

.winner.active {
    width: 90%;
    max-width: 450px;
    height: 300px;
    position: absolute;
    -webkit-position: absolute;
    color: white;
    border: 2px solid white;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-size: 40px;
    line-height: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, .97);
}

.winner.red {
    text-shadow: 0 0 30px red;
    box-shadow: inset 0 0 30px red, 0 0 30px red;
}

.winner.blue {
    text-shadow: 0 0 30px blue;
    box-shadow: inset 0 0 30px blue, 0 0 30px blue;
}

.winner.active .winPlayer {
    width: 100%;
    height: 50%;
}

.winner.active .score {
    width: 100%;
    height: 50%;
}

.controls {
    position: absolute;
    -webkit-position: absolute;
    bottom: 10px;
    left: 50%;
    height: 140px;
    width: 140px;
    transform: translateX(-50%);
    border-radius: 20px;
}

.up {
    position: absolute;
    -webkit-position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.up .box {
    position: absolute;
    -webkit-position: absolute;
    bottom: -50%;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}

.down {
    position: absolute;
    -webkit-position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.down .box {
    position: absolute;
    -webkit-position: absolute;
    top: -50%;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}

.left {
    position: absolute;
    -webkit-position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.left .box {
    position: absolute;
    -webkit-position: absolute;
    right: -50%;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}

.right {
    position: absolute;
    -webkit-position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.right .box {
    position: absolute;
    -webkit-position: absolute;
    left: -50%;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}

.right.blue .box {
    box-shadow: inset 0 0 10px 6px blue;
}

.right.red .box {
    box-shadow: inset 0 0 10px 6px red;
}

.left.blue .box {
    box-shadow: inset 0 0 10px 6px blue;
}

.left.red .box {
    box-shadow: inset 0 0 10px 6px red;
}

.up.blue .box {
    box-shadow: inset 0 0 10px 6px blue;
}

.up.red .box {
    box-shadow: inset 0 0 10px 6px red;
}

.down.blue .box {
    box-shadow: inset 0 0 10px 6px blue;
}

.down.red .box {
    box-shadow: inset 0 0 10px 6px red;
}

.viewer {
    position: absolute;
    -webkit-position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

.viewer.blue {
    box-shadow: inset 0 0 15px 5px blue, 0 0 15px black;
}

.viewer.red {
    box-shadow: inset 0 0 15px 5px red, 0 0 15px black;
}